In [1]:
import pandas as pd

In [2]:
df= pd.read_excel('/Users/mac/Desktop/guidedresearchproject-Musadiq-Aliyev/data/Data_Sample_11_06_2023.xlsx')

In [3]:
df

   Customer_id Transaction_id  Merchant_id Merchant_category  Amount
0          123          e2034          212              café      20
1          123          e2035          232           grocery      23
2          124          e2036          212              café      40
3          336          e2037          292     entertainment      12